{% extends 'layout.twig' %}
{% import './macros/form.twig' as form %}

{% block title %}{{ customer.name|e }}{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        window.spacecraft = window.spacecraft||{};
        window.spacecraft.customer = {{ customer.toObject({versionKey: false})|json_encode }};
    </script>
    <script src="/js/index.js"></script>
{% endblock %}

{% block body %}
    <h1>{{ customer.name|e }}</h1>

    <section class="aliases list--horizontal">
        <h2>Aliases</h2>
        <ul class="aliases__list">
            {% for alias in customer.alias %}
                <li class="aliases__alias">{{ alias|e }}</li>
            {% endfor %}
        </ul>
    </section>

    <section class="projects">
        {% for project in customer.projects %}
            {% include './project.twig' with {project: project} %}
        {% endfor %}
    </section>

    <section class="integration">
        <h2>Project Integration</h2>
        {{ form.string('slackChannel', customer) }}
    </section>
{% endblock %}
