<section class="project">
    <header>
        <h2>{{ project.getName(true)|capitalize|e }}</h2>
        <div class="project__url">{{ project.getStage('production').url }}</div>
        <div class="project__release">
            Latest release:
            <a class="project__release__version loading loading--circle"
                data-load-attr="href|{{ apiUrl('release', customer, project, 'latest', 'url') }}"
                data-load="{{ apiUrl('release', customer, project, 'latest', 'version') }}">loading…</a>
            <span class="project__release__status" data-load="{{ apiUrl('release', customer, project, 'latest', 'status/name') }}"></span>
        </div>
    </header>

    <ul class="project__meta">
        <li>
            State: {{ project.state|e }}
            {% if project.state == 'live' %}
                since {{ project.goLiveDate|date('d/m/Y')|e }}
            {% elseif project.state == 'project' %}
                — due to go live {{ project.goLiveDate|date('d/m/Y')|e }}
            {% endif %}
        </li>
        <li>Hosted: {% if project.hostedByJadu %}by Jadu {% else %}externally{% endif %}</li>
        <li>Platform: {{ project.platform|e }}</li>
        <li>
            {% if project.repos.length == 1 %}Repository{% else %}Repositories{% endif %}:
            <ul class="project__repos">
                {% for repo in project.repos %}
                    <li class="project__repos__repo">
                        <a href="!repo url">{{ repo.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>Notes: {{ project.notes|e }}</li>
    </ul>

    <ol class="project__stages">
        {% for stage in project.stages|sortStages %}
            {% include './stage.twig' with {stage: stage} %}
        {% endfor %}
    </ol>

    <ul class="project__repos">
        {% for repo in project.repos %}
            {% include './repo.twig' with {repo: repo} %}
        {% endfor %}
    </ul>

    {% if project.repo %}
    <section class="project__dependencies">
        <h3>Dependencies</h3>
        <p>Read from the dev branch's composer.json</p>
        <ul class="project__dependencies__list" data-load="{{ apiUrl('dependencies', customer, project, project.repo, 'dev') }}">
            <li>Loading…</li>
        </ul>
    </section>
    {% endif %}

    <section class="project__integration">
        <h3>Integration</h3>
        {{ form.string('slackChannel', project) }}
        {{ form.string({name:'_mappingId_jira', label: "JIRA mapping ID"}, project) }}
        {{ form.string({name:'_mappingId_goLivesSheet', label: "Go Lives Sheet mapping ID"}, project) }}
    </section>
</section>
